In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-07-17 20:05:35,-23.1203,-134.9692,73.47,82,79,15.70
1,1,Manadhoo,MV,2022-07-17 20:05:36,5.7667,73.3833,79.74,82,100,23.58
2,2,Esperance,AU,2022-07-17 20:05:36,-33.8667,121.9000,53.08,92,100,9.28
3,3,Nortelandia,BR,2022-07-17 20:05:36,-14.4547,-56.8028,90.18,32,0,6.58
4,4,Sitka,US,2022-07-17 20:05:37,57.0531,-135.3300,55.29,94,100,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
(fig)

Figure(layout=FigureLayout(height='420px'))

In [13]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Manadhoo,MV,2022-07-17 20:05:36,5.7667,73.3833,79.74,82,100,23.58
11,11,Bengkulu,ID,2022-07-17 20:05:38,-3.8004,102.2655,75.38,88,47,4.34
20,20,Georgetown,MY,2022-07-17 20:05:34,5.4112,100.3354,83.89,88,20,0.00
21,21,Salalah,OM,2022-07-17 20:04:00,17.0151,54.0924,78.89,89,100,6.91
22,22,Sinnamary,GF,2022-07-17 20:05:41,5.3833,-52.9500,80.78,77,71,4.05
24,24,Eureka,US,2022-07-17 20:05:42,40.8021,-124.1637,83.68,79,17,1.99
25,25,Lewistown,US,2022-07-17 20:01:12,40.5992,-77.5714,82.94,88,40,5.75
29,29,Bubaque,GW,2022-07-17 20:05:44,11.2833,-15.8333,80.53,87,100,15.75
30,30,Pacifica,US,2022-07-17 20:05:44,37.6138,-122.4869,88.14,80,20,19.57
32,32,Kapaa,US,2022-07-17 20:05:45,22.0752,-159.3190,82.72,76,100,16.11

In [19]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1     Manadhoo      MV     79.74   5.7667   73.3833
11    Bengkulu      ID     75.38  -3.8004  102.2655
20  Georgetown      MY     83.89   5.4112  100.3354
21     Salalah      OM     78.89  17.0151   54.0924
22   Sinnamary      GF     80.78   5.3833  -52.9500
24      Eureka      US     83.68  40.8021 -124.1637
25   Lewistown      US     82.94  40.5992  -77.5714
29     Bubaque      GW     80.53  11.2833  -15.8333
30    Pacifica      US     88.14  37.6138 -122.4869
32       Kapaa      US     82.72  22.0752 -159.3190

In [30]:
from config import g_key

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.